
#bcMain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

canvas {
    position: absolute;
    top: 0; 
    left: 0;
    border: none;
}

#bcTitle, #bcMain, #bcGameOver, #bcInfos {
    position: absolute; 
    top: 0; 
    left: 0;
    display: none;   
}
#bcTitle {
    display: block;   
}

#bcTitle, #bcInfos {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    background: url(../images/graffiti68.jpg);
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
}
#bcTitle img[src*=title] {
    width: 80%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#bcTitle img[src*=start] {
    height: 10vh;
    width: auto;
    position: absolute;
    bottom: 0%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
}
#bcTitle img[src*=infos] {
    height: 10vh;
    width: auto;
    position: absolute;
    bottom: 0%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
}


.bouton {
    border: solid 2px #000;
    border-radius: 2vh;
    background-color: white;
    padding: 1vh 2vh;
    cursor: pointer;
}

/** 
 *  PAUSE MENU
 */

#bcPause, #bcGameOver {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}
#bcPause img[src*=pause], #bcGameOver img[src*=over] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   
    width: 30%;
}
#bcPause img[src*=quit], #bcGameOver img[src*=quit], #bcInfos img[src*=quit] {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);   
    width: 15%;
}

#bcInfos p, #bcInfos td {
    font-family: sans-serif;
    font-size: 3.8vh;
    color: yellow;
    font-weight: bold;
    text-shadow: 2px 2px 10px #000;
}

#bcInfos p {
    width : 80%;
    margin: 6vh auto;
}
#bcInfos td {
    padding: 1vh;
}

#bcInfos p:last-of-type {
    position: absolute;
    bottom: 15vh;
    left: 5vw;
    text-align: center;
}
